CHROME_EXTENSION_ID = 
SECRET_KEY = your-secret-key
POLICY_AUD = cf-policy-aud-key
TEAM_DOMAIN = cf-team-domain
KEY = flask-key
FLASK_ENV = 'development' or 'production'
DATA_DIR = '/path/to/db'
CHROME_EXTENSION_API_TOKEN = ''
EPH_API_KEY = your-eph-api-key
EPH_USER_ID = your-eph-user-id
PACKETA_API_KEY=your-packeta-api-key
SENDER_NAME=sender name for eph and packeta
SENDER_STREET=sender street for eph and packeta
SENDER_CITY=sender city for eph and packeta
SENDER_ZIP=sender city for eph and packeta
SENDER_PHONE=sender phone for eph and packeta
SENDER_EMAIL=sender mail for eph and packeta
