<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/auctions-aligment.css">
    <link rel="stylesheet" href="../static/styles/auctions-hollowKnightStyle.css">
    <link rel="stylesheet" href="../static/styles/header-align.css">
    <link rel="stylesheet" href="../static/styles/modal.css">
    <title>Trade Tracker</title>
    <link rel="icon" type="image/x-icon" href="../static/images/cardanvil.ico">
</head>
<body>
    <main>
        <h1>Trade<span class="shadow"></span> Tracker</h1>
        <div class="search-bar">
            <input type="text" class="search-field">
            <button class="search-btn">Search</button>
            <div class="search-results"></div>
        </div>
        <header class="header">
            <nav class="nav-bar">
                <div>
                    <span class="arrow left"><img src="../static/images/leftarrow.png" alt="left arrow"></span>
                    <button class="addAuction"><a href="{{ url_for('renderers.addAuction') }}">Add auction</a></button>
                    <span class="arrow left"><img src="../static/images/rightarrow.png" alt="left arrow"></span>
                </div>
                <div>
                    <span class="arrow left"><img src="../static/images/leftarrow.png" alt="left arrow"></span>
                    <button class="addSingles"><a href="{{ url_for('renderers.addSingles') }}">Add Singles</a></button>
                    <span class="arrow left"><img src="../static/images/rightarrow.png" alt="left arrow"></span>
                </div>
                <div>
                    <span class="arrow left"><img src="../static/images/leftarrow.png" alt="left arrow"></span>
                    <button class="addAuction"><a href="{{ url_for('renderers.sold') }}">Sold</a></button>
                    <span class="arrow left"><img src="../static/images/rightarrow.png" alt="left arrow"></span>
                </div>
                <div>
                    <span class="arrow left"><img src="../static/images/leftarrow.png" alt="left arrow"></span>
                    <button class="collection"><a href="{{ url_for('renderers.renderCollection')}}">Collection</a></button>
                    <span class="arrow left"><img src="../static/images/rightarrow.png" alt="left arrow"></span>
                </div>
                <div class="import-sold-csv-container">
                    <label for="csv-upload" class="import-sold-csv-label" name="upload">
                    <span class="arrow left"><img src="../static/images/leftarrow.png" alt="left arrow"></span>
                    <p class="upload-text">Upload CSV</p>
                    <button class="import-sold-csv"><input type="file" accept=".csv" name="csv-upload"></button>
                    <span class="arrow left"><img src="../static/images/rightarrow.png" alt="left arrow"></span>                   
                    </label>
                </div>
                <div class="sales">
                    <button class="sales-btn">Sales</button>
                </div>

                <div class="inventory-value">
                    <div><p class="inventory-value-header">Inventory</p></div>
                    <div><p class="inventory-value-value"></p></div>
                </div>
            </nav>
        </header>
        <div class="shopping-cart">
            <div class="cart-content"></div>
            <div class="sealed-content"></div>
            <div class="bulk-cart-content"></div>
            <div class="holo-cart-content"></div>
            <div class="ex-cart-content"></div>
            <div>
                <input type="text" class="cart-bulk-input">
                <button class="card-add-bulk">Add bulk</button>
            </div>
            <div>
                <input type="text" class="cart-holo-input">
                <button class="card-add-holo">Add holo</button>
            </div>
            <div>
                <input type="text" class="cart-ex-input">
                <button class="card-add-ex">Add ex</button>
            </div>
            <div class="button-container">
                <button class="confirm-btn">Complete invoice</button>
                <button class="delete-cart">Delete cart</button>
            </div>
        </div>
            <div id='alert-div'></div>
        <div>
            <div>
                <p>Bulk:</p>
                <p class="bulk-value"></p>
            </div>
            <div>
                <p>Holo:</p>
                <p class="holo-value"></p>
            </div>
            <div>
                <p>Ex:</p>
                <p class="ex-value"></p>
            </div>
        </div>
        <div>
            <div class="header-container">
                <div class="auction-header">
                    <p>Auction name</p>
                    <p>Auction price</p>
                </div>
            </div>
            <div class="content-container">
                <div class='sealed-container auction-tab'>
                        <p>Sealed</p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <button class='view-sealed'>View</button>     
                        <p></p>
                        <div class='sealed-tab cards-container' style="display: none" >
                            <div class='sealed-header'>
                                <p>Name</p>
                                <p>Price</p>
                                <p>no VAT</p>
                                <p>Market Value</p>
                                <p>Margin</p>
                                <p>Date</p>
                                <p></p>
                                <p></p>
                            </div>    
                            <div class='sealed-tab-content'>
                                <!--Sealded items load here -->
                            </div>
                            <div class='buttons-container'>
                            <button class='add-sealed'>Add Sealed</button>
                            <button class='save-sealed-btn' style="display:none">Save</button>
                            </div>
                        </div>
                </div>
                <div class="auction-container"></div>
            </div>
        </div>
    </main>
    <script type="module" src="../static/scripts/utils/renderUtil.js"></script>
    <script type="module" src="../static/scripts/utils/classes.js"></script>
    <script type="module" src="../static/scripts/utils/sanitizers.js"></script>
    <script type="module" src="../static/scripts/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.6/dist/purify.min.js"></script>
</body>
</html>
