<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/auctions-aligment.css">
    <link rel="stylesheet" href="../static/styles/auctions-hollowKnightStyle.css">
    <link rel="stylesheet" href="../static/styles/header-align.css">
    <title>Sold Items - Trade Tracker</title>
</head>
<body>
    <main>
        <h1>Sold<span class="shadow"></span> Items</h1>
        <header class="header">
            <nav class="nav-bar">
                <div>
                    <span class="arrow left"><img src="../static/images/leftarrow.png" alt="left arrow"></span>
                    <button class="addAuction"><a href="{{ url_for('actions.renderAuctions') }}">Sales</a></button>
                    <span class="arrow left"><img src="../static/images/rightarrow.png" alt="left arrow"></span>
                </div>
                <div>
                    <span class="arrow left"><img src="../static/images/leftarrow.png" alt="left arrow"></span>
                    <button class="addAuction"><a href="{{ url_for('actions.addAuction') }}">Add auction</a></button>
                    <span class="arrow left"><img src="../static/images/rightarrow.png" alt="left arrow"></span>
                </div>
                <div>
                    <span class="arrow left"><img src="../static/images/leftarrow.png" alt="left arrow"></span>
                    <button class="addSingles"><a href="{{ url_for('actions.addSingles') }}">Add Singles</a></button>
                    <span class="arrow left"><img src="../static/images/rightarrow.png" alt="left arrow"></span>
                </div>
                <div>
                    <span class="arrow left"><img src="../static/images/leftarrow.png" alt="left arrow"></span>
                    <button class="collection"><a href="{{ url_for('actions.renderCollection')}}">Collection</a></button>
                    <span class="arrow left"><img src="../static/images/rightarrow.png" alt="left arrow"></span>
                </div>
            </nav>
        </header>
        <div id="alert-div"></div>
        <div>
            <div class="sales-history-container">
            
            </div>
        </div>
    </main>
    <script type="module" src="../static/sold.js"></script>
</body>
</html>
